<footer class="bg-dark text-white text-center p-3 mt-5">
  <p>&copy; 2025 UNIFEOB - Todos os direitos reservados.
  </p>

    <a href="/contato" class="text-white">Contato</a> |
    <a href="/sobre" class="text-white">Sobre</a>
 </p>
</footer>
